
.settings-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(95, 95, 95, 0.50);
  font-size: 13px;
  width: 100%;
  height: 100%;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-content {
  margin-top: 3em;
  margin-bottom: 3em;
  padding: 1.5em 3em;
  padding-bottom: 3em;
  background: #fff;
  color: rgba(14,30,37,0.54);
  border-radius: 8px;
  box-shadow: 0 1px 6px 0 rgba(14,30,37,0.12);
  position: relative;
}
.settings-close {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 16px;
  cursor: pointer;
}
.settings-content h2 {
 color: #000;
}
.settings-section {
  margin-top: 20px;
}
.settings-header {
  font-size: 16px;
  font-weight: 600;
}
.settings-options-wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.settings-option {
  padding: 3px 8px;
  margin: 5px;
  border: 1px solid;
  font-size: 12px;
  cursor: pointer;
  &:hover, &.activeClass {
    color: #fff;
  }
}

@media (max-width: 768px) {
  .settings-close {
    top: 15px;
    right: 20px;
    font-size: 18px;
  }
}
