.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 95px;
  margin-right: 20px;
}

.app-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app-title-text {
  flex-grow: 1;
}
.app-header {
  background-color: #222;
  height: 105px;
  padding: 20px;
  color: white;
  padding-left: 60px;
}
.app-left-nav {
  display: flex;
}
.app-title {
  font-size: 1.5em;
}
.app-intro {
  font-size: large;
}
.deploy-button-wrapper {
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.deploy-button {
  width: 200px;
}
.view-src {
  margin-top: 15px;
  text-align: center;
}
.view-src img {
  margin-right: 10px;
}
.view-src a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.github-icon {
  width: 25px;
  fill: white;
}

.todo-list {
  padding: 60px;
  padding-top: 10px;
  width: 600px;
}

.todo-create-wrapper {
  margin-bottom: 20px;
}
.todo-create-input {
  font-size: 14px;
  padding: 11px 15px;
  min-width: 300px;
  display: inline-block;
  box-shadow: 0px 0px 0px 2px rgba(120, 130, 152, 0.25);
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.todo-create-input:hover, .todo-create-input:active, .todo-create-input:focus {
  box-shadow: 0px 0px 0px 2px rgb(43, 190, 185);
  box-shadow: 0px 0px 0px 2px #00ad9f;
}

.todo-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 43px;
}
.todo-list-title {
  font-size: 17px;
  font-weight: 500;
  color: #5a5a5a;
  flex-grow: 1;
  position: relative;
}
.todo-list-title:hover span[contenteditable="false"]:before {
  content: 'click to edit';
  position: absolute;
  top: -6px;
  left: 11px;
  font-size: 11px;
  font-weight: 300;
  color: #adadad;
  letter-spacing: 1px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


@media (max-width: 768px) {
  .app-title-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }
  .app-title {
    font-size: 18px;
  }
  .app-intro {
    font-size: 14px;
  }
  .todo-list {
    padding: 20px;
    padding-top: 10px;
    width: auto;
  }
  .app-header {
    padding-left: 20px;
    height: auto;
  }
  .app-logo {
    height: 60px;
    margin-right: 10px;
  }
  .deploy-button-wrapper {
    margin-left: 70px;
  }
  .deploy-button {
    width: 150px;
  }
  .todo-list-title {
    font-size: 15px;
  }
  .todo-create-input {
    margin-bottom: 15px;
    border: 1px solid rgba(120, 130, 152, 0.25);
  }
  .view-src {
    display: none;
  }
}
