.App {

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 95px;
  margin-right: 20px;
}

.app-title-wrapper {
  display: flex;
  align-items: center;
}
.App-header {
  background-color: #222;
  height: 105px;
  padding: 20px;
  color: white;
  padding-left: 60px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.todo-list {
  padding: 60px;
  padding-top: 10px;
  width: 600px;
}

.todo-create-wrapper {
  margin-bottom: 20px;
}
.todo-create-input {
  font-size: 14px;
  padding: 11px 15px;
  min-width: 300px;
  display: inline-block;
  box-shadow: 0px 0px 0px 2px rgba(120, 130, 152, 0.25);
  border: none;
  outline: none;
  transition: all 0.3s ease;
}
.todo-create-input:hover, .todo-create-input:active, .todo-create-input:focus {
  box-shadow: 0px 0px 0px 2px rgb(43, 190, 185);
  box-shadow: 0px 0px 0px 2px #00ad9f;
}

.todo-item {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 43px;
}
.todo-list-title {
  font-size: 17px;
  font-weight: 500;
  color: #5a5a5a;
  flex-grow: 1;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
